* {
    margin: 0;
    padding: 0;
}
body {
    background-color: blueviolet;

}
h1  {
    color: blue;
    font-family: 'Times New Roman';
    margin-top: 15px;
}


.g{
    background-color: blue;
    margin-top: 45px;
   
}
h2 {
    font-family: Arial;
        color: black;
        background-color: brown;
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
<<<<<<< HEAD
}


#cardContainer {
    display: flex;

 }

 .card {
    margin: 10px;
    height: 25px;
 }

 img {
    background-color: blue;

    display: flex;
    flex-direction: row;
    padding: 5px;

 }
=======
}
>>>>>>> ba9a523c151c9decec406c8f99f6813ba6112227
